body{
    background-color: skyblue;
    background-image: radial-gradient(circle, white, 2px, transparent 3px);
    background-size:40px 40px;
    background-position:top center;
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
    text-align: center;
}

.h1{
    font-size: 36px;
    color: white;
}

.weather-icon{
    font-size
}